@font-face {
  font-family: 'Nixie One';
  font-style: normal;
  font-weight: 400;
  src: local('Nixie One'), local('NixieOne-Regular'), url(https://fonts.gstatic.com/s/nixieone/v8/gQ0PT3rPU_Et2ExNz-ahmpBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
  font-family: "Nixie One";
  font-size: 18px;
  margin: 0;
  background-color: #004F66;

}

a {
  color: #fff;
}

nav {
  display: flex;
  color: #fff;
  font-size: 2rem;
}

.navbar-nav {
  display: flex;
  float: right;
}

.navbar-brand {
  font-size: 2rem;
}

li {
  display: inline-flex;
}

.jumbotron {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #fff;
  text-shadow: 0.25px 0.25px 0.25px #000;
  background-color: #004F66;

}

.jumbotron .container {
  display: inline-block;
}

.jumbotron h1 {
  font-size: 8rem;

}

.jumbotron span {
  color: #000;
  text-shadow: 0.25px 0.25px 0.25px #fff;
}

.col-sm-4 {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.circle {
  background-color: #002B38;
  border-radius: 100%;
  font-size: 6rem;
  height: 13rem;
  width: 13rem;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: 1rem;
}

.fa-mobile {
  font-size: 8rem;
}

.circle:hover {
  background-color: #218C7D;
  transform: scale(1.2);
  transition: all 200ms ease-in-out;
}

.social .fa {
  padding-right: 1rem;
}
.jumbotron a {
  color: #fff;
}

h2 {
  border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 768px) {
  .jumbotron {
    height: 100vh;

  }

  .navbar {
 position: relative;
 margin-bottom: 40vh;
  }
}
